.App {
  text-align: center;
  background-color: #18bc9c;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
table {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    background-color: #C9C9C9;
}
th {
    color: black;
    text-align: center;
}
th, td {
    border-bottom: 2px solid black;
    text-align: center;
}
.tdiv {
  overflow-x: auto;

}
.square {
  border: 1px solid #999;
  text-align: center;
  width: 100%;
  height: 82px;

}
.container-block {
  float: center;
  text-align: center;
  margin: auto;
  margin-left: 30%;
  margin-right: auto;
}
.container {
  text-align: center;
  float: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
.container-left {
  text-align: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
.block {
  text-align: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  float: center;
}

.cosasBarra {
  margin: auto;
  overflow:hidden;
}
.barra{
  background: #2c3e50;
  width: 100%;
  position: fixed;
  z-index: 10;
  float: center;
}
.useri{
  float: right;
  margin-right: 70px;
}
.izq{
  float: left;
  margin-left: 5%;
}
.der{
  margin-top:7%;
  float: right;
}
nav {
  float: center;
  text-align: center;
}
nav ul {
  list-style: none;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 40px;
}
nav ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;

}
a{
  display: block;
  color: #fff;
  text-decoration: none;
  float: left;
  font-family: Arial, sans-serif;
  font-size: 30px;
  margin-left: 30px;
  padding: 10px;
  list-style: none;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  color:#fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}
h1{
  color: #fff;
}
h2{
  color: #fff;
}
